/* svg {
    width: 1000px;
    height: 10000px;
} */

text {
    font-family: lato;
    font-size: 10px;
    fill: #333333;
}

.grid path {
    stroke-width: 0;
    stroke: #333333;
}

.grid .tick line {
    stroke: #333333;
    stroke-width: 0.3px;
    stroke-opacity: 0.3;
}

text.chart-title {
    font-size: 15px;
    font-weight: bold;
    fill: #222222
}

text.chart-label {
    font-size: 10px;
    font-weight: 400;
    fill: #999999;
}

.tooltip {
    background-color: #ffffff;
    font-family: lato;
    font-size: 10px;
    padding: 4px;
    color: #666666;
    border: none;
    box-shadow: 0px 0px 3px 0px #E6E6E6;
    position: absolute;
}

.legend {
    font-size: 10px;
}